<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codenames</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
    <div class="container">
        <div id="setting-left">
            <button class="primary" style="display: inline-block;">Players <span id="numPlayers">2</span></button>
            <div id="setting-left-modal">
                <div>
                    <p>Invita jugadores con este enlace</p>
                    <input type="text" value="http://127.0.0.1:5500/room.html">
                    <button>Copiar enlace</button>
                </div>
                <div>
                    <p>Jugadores en la sala:</p>
                    <div>
                        <span>Jugador 1</span>
                        <span>Jugador 2</span>
                        <span>Jugador 3</span>
                    </div>
                </div>
                <div>
                    <button class="primary">Reiniciar equipos</button>
                    <button class="primary">Randomizar equipos</button>
                </div>
            </div>
        </div>
        <div id="setting-right">
            <button class="primary" style="display: inline-block;">Username</button>
            <div id="setting-right-modal">
                <div>
                    <p>Nickname</p>
                    <input type="text" value="Jugador 1">
                    <button class="primary">Actualizar nickname</button>
                </div>
                <div>
                    <button class="primary">Abandonar sala</button>
                </div>
            </div>
        </div>
        <div class="team-info-container team-info-red">
            <div class="team-info">
                
            </div>
        </div>
        <div class="team-info-container team-info-blue">
            <div class="team-info">
    
            </div>
        </div>
        <div class="message-container">
            <div class="instruction">
                <span>Inicia la partida</span>
            </div>
        </div>
        <div class="game-container">
            <div class="menu">
                <div class="content">
                    <p>Selecciona que paquete de palabras utilizar</p>
                    <div>
                        <ul>
                            <li>
                                <label>
                                    <input checked type="checkbox" name="" >Paquete basico
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" name="" >Historia del perú
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" name="">Politica peruana
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="checkbox" name="">Crea tu paquete de palabras
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="buttons">
                        <button class="primary">Ranzomizar equipos</button>
                        <button class="primary">Resetear Equipos</button>
                        <!-- <button class="success" align="center">Empezar Partida</button> -->
                        <a th:href="@{/lobby/{id}/game(id=${gameId})}"  class="btn success" align="center">Empezar Partida</a>
                </div>
            </div>
        </div>
        <div class="log-container">
            <div class="log">
                <p align="center">Game Log</p>
                <div>
                    <ul>
                        <li><span class="azul">Jugador 1</span> realizo accion</li>
                        <li><span class="rojo">Jugador 2</span> realizo accion</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/scripts/index.js}"></script>
</body>
</html>